*{
    margin: 0px;
    padding: 0px;
}
body{
    height: 100vh;
    width: 100%;
}
html{
    scroll-behavior: smooth;
}

.all{
    z-index: 1;
    display: flex;
    background-image: linear-gradient(to right,#77a1d3,#79cbca,#e684ae);
    height: 90px;
    width: 100%;
    position: fixed;
    justify-content: space-around;
    align-items: center;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 3px 20px 120px;

    
}
.listfixed{
    margin-left: -3rem;
}
.listfixed li{
    display : inline-block;
    text-decoration: none;
    margin-left: 4rem;
}

.fixed{
    margin-left: 2rem;
}
.listfixed{
    list-style-type: none;
    font-size: 1.5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
.button{
    border: solid 1px grey;
    background-color: blue;
    text-decoration-line: none;
    border-radius: 5px;
    color: white;
    padding: .5rem 1.2rem;

}

.topbg{
    height: 500px;
    overflow: hidden;
}

.topbg img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.logo{
    position: absolute;
    height: 500px;
    background-color: rgba(255, 255, 255, 0.6);
    top: 0%;
    width: 100%;
}
.logo img{
    position: absolute;
    height: 300px;
    width: 400px;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.content{
    margin: 30px 0px;
    height: 100px;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.content p{
    font-size: 16px;
}

.grid{
    background-color: red;
    height: 500px;
    width: 50%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    overflow: hidden;
}
.gridimg{
    border: 30px solid white;
    overflow: hidden;
    height: 100%;
    width: 100%;
}
.gridimg img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.para{
    height: 500px;
    width: 50%;
    position: absolute;
    left: 50%;
    top: 675px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.para h3{
    margin: 30px;
    font-size: 2rem;
}
.para h4{
    margin: 30px;
    margin-right: 60px;
    text-align: justify;
    font-weight: 500;
    font-size: 1.2rem;
}
.aboutus{
    position: relative;
    background-color: #1f3d47;
    top: 50px;
    height: 500px;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
}

.leftbox{
    width: 350px;
    height: 450px;
    position: relative;
    left: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.leftbox h3{
    font-weight: 200;
    color: aliceblue;
    text-align: justify;
}
.leftboximg{

    height: 60px;
    width: 300px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.centerbox{
    width: 380px;
    height: 320px;
    position: relative;
    left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.centerbox h2{
    color: burlywood;
    text-decoration-line: underline;
    text-decoration-thickness: 2px;
    text-transform: uppercase;
}
.centerboxdiv{
    height: 50px;
    width: 90%;
    display: flex;
    align-items: center;
}
.centerboxdiv h3{
    margin-left: 50px;
    color: aliceblue;
    font-weight: 200;
}

.rightbox{
    width: 380px;
    height: 320px;
    position: relative;
    left: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.rightbox h2{
    color: burlywood;
    text-decoration-line: underline;
    text-decoration-thickness: 2px;
    text-transform: uppercase;
}
.quicklink{
    width: 80%;
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.quicklink a{
    font-size: 1.5rem;
    margin: 10px;
    color: aliceblue;
    text-decoration-line: none;
}
.quicklink a:hover{
    color: brown;
}

.bottombox{
    position: relative;
    top: 50px;
    height: 80px;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    text-transform: capitalize;
}
.bottombox a{
    height: 50px;
    width: 50px;
    position: fixed;
    right: 20px;
    bottom: 90px;
    background-color: black;
    color: white;
    font-size: 2.5rem;
    text-align: center;
    border-radius: 8px;
}